@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-color: #FF6600;
  --orange-selected-color: #FF8533;
}

body {
  font-family: 'Inter', sans-serif;
}

::selection {
  background: var(--orange-selected-color);
}