@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-color: #FF6600;
  --orange-selected-color: #FF8533;
  --blue-color: #00c8ff;
  --blue-selected-color: #33daff;
}

body {
  font-family: 'Inter', sans-serif;
}

@keyframes jump {
  0% { transform: translateY(0); }
  12% { transform: translateY(-20px); }
  20% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.animate-jump {
  animation: jump 1.5s ease-in-out infinite;
}
