@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange-color: #FF6600;
  --orange-selected-color: #FF8533;
  --blue-color: #00c8ff;
  --blue-selected-color: #33daff;
}

body {
  font-family: 'Inter', sans-serif;
}

@layer components {
  .twojo * ::selection {
    background: var(--blue-selected-color);
  }
  .spufo * ::selection {
    background: var(--orange-selected-color);
  }
}